<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <link rel="stylesheet" href="/css/settings/style.css" />
        <!-- CONTENT --> 
        <div id="content" class="white">
            <style type="text/css">
                td { line-height: 20px; }
            </style>
            <h1> 域管理 </h1>
            <div class="bloc">
                <div class="title"> 域列表 
                    <a href="/api/comquery/addfields?tplid={=$tplid=}" title="添加域"><img src="img/icons/actions/edit.png" alt="" />添加域</a>&nbsp;|&nbsp;
                    <a href="/api/comquery/home" title="模板列表">返回模板</a>
                </div>
                <div class="content">
                    <table cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th> ID </th>
                                <th> 使用字段名称 </th>
                                <th> 封装字段名称 </th>
                                <th> 说明 </th>
                                <th> 注释 </th>
                                <th> 操作 </th>
                            </tr>
                        </thead>
                        <tbody>
                            {=foreach from=$data item="list"=}
                            <tr>
                                <td>{=$list['fid']=}</td>
                                <td>{=$list['realname']=}</td>
                                <td>{=$list['name']=}</td>
                                <td>{=$list['cname']=}</td>
                                <td>{=$list['mem']=}</td>
                                <td class="actions" style="width: 150px">
                                    <a href="/api/comquery/editfields?tplid={={=$list['tid']=}=}&fid={=$list['fid']=}" title="域编辑">域编辑</a>
                                </td>
                            </tr>
                            {=/foreach=}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </body>
</html>
