<!DOCTYPE html>
<html>
    <head>
        <title>{=$title=}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
        <!--frameset frameborder="0"  rows="40,*">
            <frame name="topframe" src="http://cms.l/index/top"  /-->
            <frameset frameborder="0" cols="150,*">
                <frame name="leftframe" src="/index/left" />
                <frame name="mainframe" src="/index/right" />
            </frameset>
        <!--/frameset-->
</html>
