<!DOCTYPE html>
<html>
    <head>
        <base href="{=$baseurl=}">
        <title>{=$title=}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/js/jwysiwyg/jquery.wysiwyg.old-school.css" />

        <!-- jQuery AND jQueryUI -->
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/js/min.js"></script>
        <script type="text/javascript" src="/js/jquery.json.min.js"></script>

        <script type="text/javascript" src="/css/settings/main.js"></script>
        <link rel="stylesheet" href="/css/settings/style.css" />
        
    </head>
    <body>
<div id="head">
    <div class="left">
        <a href="javascript:;" class="button profile"><img src="img/icons/top/huser.png" alt="" /></a>
        欢迎, 
        <a href="javascript:;">管理员</a>
        |
        <a href="account/logout">退出</a>
    </div>
    <div class="right">
        <!--
        <form action="#" id="search" class="search placeholder">
            <label>Looking for something ?</label>
            <input type="text" value="" name="q" class="text"/>
            <input type="submit" value="rechercher" class="submit"/>
        </form>
        -->
    </div>
</div>
    </body>
</html>